:root {
    --mid-dark-grey: #424744;
    --light-grey: #ededed;
    --dark-grey: #2e2e2d;
    --blue-grey:#889e96;
    --yellow: #c0e667;
    --green : #458a5c;
}
* {
    margin: 0;
}
html {
    direction: rtl;
}
.row {
    padding: 0;
    margin: 0;
}
.container  {
    background-color: #000;
    padding-left: 0;
    padding-right: 0;
}
.yellow {
    color: var(--yellow);
}
.bk-grey {
    background-color: var(--dark-grey);
}
/* header section */
.container  header {
    padding:20px 10px;
}
.container  header .logo {
    width: 100px;
    margin: auto;
}
.container  header .alarm {
    width: 40px;
}
.container  header .logo img,
.container  header .alarm img {
    width: 100%;
}
/* nav section */
nav {
    background-color: var(--dark-grey);
    color: #fff;
    padding: 0 10px;
}
nav .item {
    padding: 10px;
}
.container-scroll {
    overflow-x: auto;
    background-color: var(--dark-grey);
}
.container-scroll > .row {
    width: 133.33333333%;
}
main.page2 .container-scroll > .row:nth-of-type(1){
    width: 133.33333333%;
}
/* mani section */
main.page1 .cover {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}
main.page1 .cover .banner {
    position: absolute;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}
main.page1 .cover .notification {
    background-color: var(--blue-grey);
    position: absolute;
    border-radius: 20px;
    color: #fff;
    z-index: 3;
    bottom: 0;
    margin: auto;
    text-align: left;
    padding: 5px 15px;
}

main.page1 .match {
    color: #fff;
    padding: 10px;
}
main.page1 .separator{
    border-top:2px solid var(--yellow);
    position:relative;
}

main.page1 .separator:after{
    content: '';
    position: absolute;
    top: -10px;
    left: 48%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--yellow) transparent;
}
main.page1 .title {
    padding: 20px 0 40px 0;
}
main.page1 .players {
    color: #fff;
}
main.page1 .players img {
    width: 40px;
    height: 35px;
    border-radius: 50%;
}
main.page1 .players .info {
    position: relative;
}
main.page1 .players .start {
    position: absolute;
    bottom: 45px;
    background-color: var(--mid-dark-grey);
    color: red;
    font-weight: bold;
    padding: 5px 20px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 11px;
    border-radius: 10px;
}
main.page1 .players .start i {
    font-size: 10px;
    margin-left: 5px;
}
main.page1 .players .time {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    font-size: 11px;
}
main.page1 .staduim {
    color: var(--green);
}
main.page1 .staduim {
    padding: 20px 0;
 
}
main.page1 .staduim div:nth-of-type(2){
    text-align: end;
}
main.page1 .staduim .border-sparator {
    margin: auto;
    margin-top: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
    border-width: 0rem;
}
main.page1 .all {
    padding-bottom: 20px;
}
/* main page 2 */
main.page2 {
    margin-top: 15px;
}

main.page2 .champions{
    color: #fff;
    padding: 10px 5px 0 5px;
}
main.page2 .champions .all {
    font-size: 18px;
}
main.page2 .carousel .item {
    background-image: linear-gradient(to right, var(--yellow) , var(--green));
    color: #fff;
    border-radius: 7px;
    padding: 10px 5px 10px 0;
}
main.page2 .carousel .item .logo {
    width: 80px;
    padding-left: 0;
    margin-top: auto;
    margin-bottom: auto;
}
main.page2 .carousel .item .logo img {
    width: 100%;
}
main.page2 .carousel .item .data .teams,
main.page2 .carousel .item .data .date .col {
    font-size: 11px;
    margin-top: 10px;
}
main.page2 .carousel .item .data .teams img {
    width: 20px;
    height: 15px;
}
main.page2 .carousel .item .data .teams .vs {
    color: #fff;
    background-color: rgba(250,250,250,0.2);
    font-size: 10px;
    padding: 4px;
    width: 20px;
    border-radius: 50%;
}
/* ********************************************************** */

@media (max-width:720px) and (min-width:320px) {
    * {
        font-size: 14px;
    }
}
@media (min-width: 720px){
    .container  {
        width: 720px;
     }
}
