:root {
    --dark-grey: #424744;
}
* {
    margin: 0;
}
html {
    direction: rtl;
}
.container {
    background-color: #000;
    padding-left: 0;
    padding-right: 0;
}
.container header {
    padding:20px 10px;
}
.container header .logo {
    width: 100px;
    margin: auto;
}
.container header .alarm {
    width: 40px;
}
.container header .logo img,
.container header .alarm img {
    width: 100%;
}
/* nav section */
nav {
    background-color: var(--dark-grey);
    color: #fff;
    padding: 0 10px;
}
nav .item {
    padding: 10px;
}
.container-scroll {
    overflow-x: auto;
    background-color: var(--dark-grey);
  }
  .container-scroll > .row {
    width: 133.33333333%; /* = 100% * 4/3 */
  }

@media (min-width: 720px){
    .container {
        width: 720px;
     }
}
